- hosts: linux
  become: true

  tasks:
    - name: Task1
      command: /bin/sleep 5
      when: ansible_hostname == 'centos1'
      async: 10
      poll: 0
      register: result1
    
    - name: Show registered text as jinja2
      debug:
        msg: "{{result1}}"
