- hosts: linux
  become: true

  vars:
    jobids: []

  tasks:
    - name: Task1
      command: /bin/sleep 5
      when: ansible_hostname == 'centos1'
      async: 10
      poll: 0
      register: result1
    
    - name: Show registered text as jinja2
      debug:
        msg: "{{result1}}"

    - name: Capture the Job ID
      set_fact:
        jobids: >
                  {% if item.ansible_job_id is defined -%}
                    {{jobids + [item.ansible_job_id]}}
                  {% else %}
                    {{jobids}}
                  {% endif %}
      with_items: "{{[result1]}}"


