- hosts: linux
  become: true

  vars:
    jobids: []

  tasks:

    - name: Ignore Failure
      command: /bin/false
      ignore_errors: yes

    - name: Task1
      command: /bin/sleep 5
      when: ansible_hostname == 'centos1'
      async: 10
      poll: 0
      register: result1

